.flex {
    display: flex
}

.comms-content pre {
    white-space: pre-wrap; /* Ensures that the content wraps instead of causing overflow */
}

a {
    color: #004FA3
}

.edged {
    margin-left: 20px;
    margin-right: 20px;
}

.edged-less {
    margin-left: 10px;
    margin-right: 10px;
}

.body-content {
    padding: 10px;
}

#logo {
    margin-right: 20px;
}

pre.custom-pre {
    font-family: inherit; /* Inherit font from the parent element */
    font-size: inherit; /* Inherit font size from the parent element */
    white-space: pre-wrap; /* Preserve whitespace and line breaks */
    word-wrap: break-word; /* Break long words if necessary */
    background-color: transparent; /* Remove the default grey background */
    border: none; /* Remove any borders applied by Bootstrap */
    padding: 0; /* Adjust padding to suit your layout */
}

.formatted-text {
    white-space: pre-wrap; /* Preserves whitespace like <pre> */
    font-family: inherit; /* Inherit the page's default font */
}