{% extends "layout.html" %}
{% block title %}
    Homepage
{% endblock %}
{% block content %}
    
    <h1>Welcome</h1>

    <div class="container mb-1">
        <p>
            This is the Nesta Added Lipids Levy tool. Click the Recipe button to get started.
        </p>

        <a href="/recipe"><button type="button" class="btn btn-primary btn-lg">Recipe</button></a>
    </div>

    <!-- Flash messages section
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div>
            {% for category, message in messages %}
            <div class="flash-message {{ category }}">{{ message }}</div>
            {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
     -->

    

{% endblock %}