{% extends "layout.html" %}
{% block title %}
    Homepage
{% endblock %}
{% block content %}
    
    <h1>Welcome</h1>

    <div class="container mb-5">
        <p>
            This is the Nesta Added Lipids Levy tool. It will look at a food recipe and use AI to determine if any <em>unnecessary</em>
            lipids have been added, and calculate a levy of £1 for every extra 250 calores this adds. The intention is that this levy is applied
            for food being produced for consumption by the general public where the levy is charged.
        </p>
        <p>
            Click the Recipe button to get started.
        </p>

        <a href="/recipe"><button type="button" class="btn btn-primary btn-lg">Recipe</button></a>
    </div>

    <div class="container mt-5 mb-1">
        <h4>How it works</h4>
        <p>
            Unnecessary lipids here are any compounds containing fats, that have been added to enhance flavour as opposed to being a key ingredient.
            For many food items, these are needed to an extent as they impact the texture and consistency of the product, but to a point.
            Going beyond this point will risk incurring a levy.
        </p>
        <p>
            <em>For example: </em>
            A run-of-the-mill cheeseburger with a single burger patty, cheese slice and bun would not incur a levy, but if you add 4 extra cheese slices
            (at approximately 100 cals each) and then butter the buns with 1 tablespoon of butter (approximately 100 cals), then you've
            added an extra 500 calories and so a £2 levy would be added.
        </p>
    </div>

    <!-- Flash messages section
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div>
            {% for category, message in messages %}
            <div class="flash-message {{ category }}">{{ message }}</div>
            {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
     -->

    

{% endblock %}